<main>
    <h1>Please Sign and Support us!!</h1>
    <section class="image-conatiner">
        <div class="photo">
            <img src="hashtag.jpeg" alt="logo" class="hashtag" />
        </div>
    </section>
    <form action="/petition" method="POST" id="sign">
        <h2>Please Sign Here!!</h2>
        <section class="sign-canvas">
            <div class="sign-container">
                <canvas id="signature-canvas"></canvas>
                <input type="hidden" name="signature" id="signature" />
                <input type="hidden" name="_csrf" value={{csrfToken}} />
            </div>

            <div class="button-submit">
                <button type="submit" class="submit">Submit</button>
                <button class="clear">Clear</button>
            </div>
        </section>

    </form>
</main>