<h2>Please enter more details!!</h2>
<form action="/profile" method="POST">
    <section>

        <label for="age">Age</label>
        <input class="text" type="number" name="age" />

        <label for="city">City</label>
        <input class="text" type="text" name="city" />

        <label for="url">URL</label>
        <input class="url" type="url" name="url" />

        <div>
            <button type="submit">Submit</button>
        </div>

    </section>

</form>