<main class="profile-form">

    <form action="/profile" method="POST" class="form">
        <h2>Please enter more details!!</h2>
        <section class="profile">
            <div class="values-container">
                <label for="age">Age</label>
                <input class="text" type="number" name="age" />
            </div>
            <div class="values-container">
                <label for="city">City</label>
                <input class="text" type="text" name="city" />
            </div>
            <div class="values-container">
                <label for="url">URL</label>
                <input class="text" type="url" name="url" />

            </div>

            <div class="button-submit">
                <input type="hidden" name="_csrf" value={{csrfToken}} />
                <button type="submit" class="submit">Submit</button>
            </div>
            <p class="direction"><a
                    href="/register"
                    class="login"
                >Logout</a></p>
        </section>

    </form>
</main>